* 
{
    box-sizing: border-box;
}

html,
body 
{
    max-width: 960px;
    margin: 0 auto;
    background: url(../images/background.png);
    color: greenyellow;
}



#letterDisplay
{
    font-size: 50px;
    border: 2px dashed greenyellow;
}


#headInfo
{
    margin-top: 20px;
    border: 2px dashed greenyellow;
}

#stats {
    border: 2px dashed greenyellow;
    margin: auto -15px;
}
#guessed {
    margin-top: 10px;
}